@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&family=Sora:wght@100..800&display=swap');
*{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
  --text-color: #E5E7EB;
  --bg-color: #0F172A;
}

body{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
}


/* Head*/
.wrapper{
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #a00000;
    color: #E5E7EB;
    position: fixed;
    z-index: 100;
}
.wrapper .logo{
    float: left;
    width: 10%;
    text-align: center;
    padding: 5px;
    font-size:15px;
    margin-top: 8px;
}
.wrapper .logo h1{
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #003cff;
}
.wrapper .block_menu{
    width: 90%;
    padding: 5px;
    margin-top: 8px;
}
.wrapper .block_menu ul{
    float: right;
    display: flex;
   list-style: none;
}
.wrapper .block_menu ul li{
   padding: 10px;
   margin-left:5px;
}
.wrapper .block_menu ul li a{
   padding: 10px;
   margin-left:5px;
   text-decoration: none;
   color: var(--text-color);
   font-size: 18px;
}
.wrapper .block_menu ul li a:hover{
   box-shadow: 1px 1px 5px 1px #003cff;
   border-radius: 5px;
}


/* left content-home */
.content{
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}
.content section{
    width: 100%;
    height: 100vh;
}
.content .home .home_left{
    width: 40%;
    float: left;
}
.form_left {
    margin-top: 250px;
    margin-left: 80px;
    padding: 5px;
}
.content .home .home_left h3{
    padding: 5px;
    font-size: 30px;
}
.content .home .home_left h2{
    font-size: 35px;
}
.content .home .home_left h1{
    font-size: 60px;
    padding: 5px;
}
.content .home .home_left p{
    padding: 5px;
}
 
.btn_link {
  display: flex;

}
.btn_link a{
  font-size:25px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #2643a3cc;
  border-radius:5px 5px 5px 5px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.664);
}
.btn_link a:hover{
     box-shadow: 1px 0.1px 5px 2px #003cff;
}
.btn_link a p {
  font-size:20px;
  color: var(--text-color);
}
/* right content -home */
.content .home .home_right{
    width: 60%;
    padding: 5px;
    float: right;
    text-align: center;
    align-items: center;
}
.content .home .home_right .img{
      margin-top: 250px;
      position: relative;
}
.content .home .home_right .img img{
    width: 500px;
    height: 450px;
    border: 1px solid #2643a3cc;
    border-radius: 50%;
    animation: floatImage 2s ease-in-out infinite;
    box-shadow: 0px 0px 8rem #003cffa2;
    position: relative;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* right content -about */
.about{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#2643a3cc;
  
}
.about .about_left {
    width:40%;
    padding-top: 50px;
    text-align: center;
    align-items: center;
}
.about .about_left .txt_aboutMe{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
}
.about .about_left .txt_aboutMe h2{
    font-size: 35px;
    color: #fff;
    text-decoration: underline rgba(29, 8, 218, 0.808);
}
.about .about_left .img_aboutMe{
    width: 500px;
    background: #ffffffcb;
    margin-top: 70px;
    margin-left: -100px;
    position: relative;
    perspective: 1000px;
}
.about .about_left .img_aboutMe img{
    width: 520px;
    height: 530px;
}
.img_aboutMe img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    transition: transform 0.8s;
    background: #ffffffcb;
    box-shadow: 0px 0px 3rem #003cffc7;
    border: 1px solid #fff;
}
.img_aboutMe .back{
    transform: rotateY(180deg);
}

.img_aboutMe:hover .front{
    transform: rotateY(180deg);
}

.img_aboutMe:hover .back{
    transform: rotateY(360deg);
}
.about .about_left p{
    font-size: 25px;
    color: var(--text-color);
    position: absolute;
    z-index: 1000;
    margin-top: 540px;
    margin-left: 370px;
}
.about .about_right {
    float: right;
    color: var(--text-color);
}
.about .about_right h1{
    letter-spacing:0.09cm;
}
.about .about_right .form_right h1,
.about .about_right .form_right h3,
.about .about_right .form_right p{
    margin-left: 20px;
    padding: 5px;
}
.about .about_right .form_right{
    width: 700px;
    height: 250px;
    margin-top:10px;
    border: 1px solid #2643a3cc;
    box-shadow: 0px 0px 0.5rem #002fffcc;
    border-radius: 10px;
    margin-right: 200px;
    background: rgba(128, 128, 128, 0.685);
}
.about .about_right .form_right .btn_read {
    padding: 8px;
    font-size: 12px;
    background: rgba(89, 89, 196, 0.829);
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 20px;
    color: var(--text-color);
    
}
.about .about_right .form_right .btn_read:hover {
    box-shadow: 1px 0.1px 5px 2px #003cff;
    background: rgba(73, 73, 233, 0.829);
    border: 1px solid #fff;
}
.about .about_right .txt_point{
    margin-top: 20px;
}
.about .about_right .txt_point p{
    padding: 5px;
}









/* responsive ipad */
@media (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }
    .wrapper .logo {
        width: 10%;
        font-size: 8px;
        margin-top: 20px;
    }

    .wrapper .block_menu {
        width: 90%;
    }
    .content .home .home_left,
    .content .home .home_right {
        width: 100%;
        float: none;
        text-align: center;
    }
    .btn_link {
        margin-left: 430px;
}
    .btn_link_dw {
        margin-left: 405px;
}

    .form_left {
        margin-top: 150px;
        margin-left: 0;
    }

    .content .home .home_right .img img {
        width: 350px;
        height: 350px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .about_left,
    .about .about_right {
        width: 100%;
        float: none;
        text-align: center;
    }

    .about .about_right .form_right {
        width: 90%;
        margin: 20px auto;
    }

    .about .about_left .img_aboutMe {
        width: 350px;
        margin-left: 90px;
        margin-top: 500px;
        position: absolute;
    }
    .about .about_left p{
    font-size: 25px;
    color: var(--text-color);
    position: absolute;
    z-index: 1000;
    margin-top: 1050px;
    margin-left: 490px;
}
    .img_aboutMe img {
        width: 350px;
        height: 400px;
    }
}

/* responsive mobile */
@media (max-width: 768px) {

 
}